.App-Container{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
input{
  width:350px;
  height: 25px;
  border-radius: 5px;
  margin-bottom:15px;
}
label{
  font-weight: 500;
  font-size: 16px;
}
#signup{
 margin-left:150px;
 margin-top:20px;
 width:80px;
 height: 35px;
 background-color: #2666BE;
 border: none;
 color:white;
 border-radius: 5px;
 cursor: pointer;
}
#emailp{
  margin-top: -10px;
  color:red;
  font-size: 15px;
  
}
